body {
    margin: 0px;
}

.row {
    background-color: rgb(29, 39, 75);
    height: 45px;
    border-radius: 0px 0px 10% 10%;
    
}
.logo img {
    display: block;
    height: 30px;
    width: 30px;
    float: left;
    border: 0px solid yellow;
    margin: 7px 0px 5px 5px;
}

.col1 {
    color: white;
    border: 0px solid green;
    width: 145px;
    height: 28px;
    float: right;
    font-size: 14px;
    margin: 8px 0px 5px 5px;
}

.col11 {
    display: block;
    padding: 5px 10px 0px 0px;
    float: left;
}


